<!DOCTYPE html>
<html lang="en">

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script defer src="front-end-vue.js"></script>
<link rel="stylesheet" href="index.css">

<head>
    <meta charset="UTF-8">
    <title>After School App</title>
    
    
</head>



<body>

    <div id="app"> 
        
        <header>
            <h1>{{title}}</h1>
        </header>
                       


        <div class="lesson">

            <button class="addcart" @click="showcheckout"> <img src="images/checkout.png" style="width: 25px; height: 25px;"> Checkout {{cartitemcount}} </button>




            <div v-if="showlesson" class="shop">

                <div class="lesson-layout">
                    <div class="lesson-list" v-for="lesson in lessons" :key="lesson.id">
                        <div class="subject">

                            <div class="info">
                                <h2> Subject: {{lesson.subject}}  </h2>
                                <h2> Location: {{lesson.location}} </h2>
                                <h2> Price: £{{lesson.price}} </h2>
                                <h2> Spaces: {{lesson.space}} </h2>

                                <button class="addButton" @click="addlesson(lesson)" v-if="lesson.space > 0" >Add to cart</button>

                                <button class="addButton" disabled v-else> Add to cart </button>

                            </div>
                            
                            <img :src="lesson.imagepath" :alt="lesson.altimagetext">

                        </div>

                    
                    </div>
                </div>
            
            </div>
            





            <div v-else>
                <h1>test</h1>
                <button @click="showcheckout"> Back to shop</button>
                <h2> price: £{{pricetotal}} </h2>
            </div>

            


        </div>

        <footer>
            <p>After School App</p>
        </footer>




    </div>


</body>

</html>