<!DOCTYPE html>
<html lang="en">

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script defer src="front-end-vue.js"></script>
<link rel="stylesheet" href="index.css">

<head>
    <meta charset="UTF-8">
    <title>After School App</title>
    
    
</head>



<body>

    <div id="app"> 
        
        <header>
            
            <div class="CheckoutInfo" v-if="!showlesson">
                <input v-model="username" placeholder="Name:" class="username"/>
                <input v-model="userphone" placeholder="Phone Number:" class="userphone"/>
                <button v-if="infocheck" disabled>Enter Info properly</button>
                <button @click="checkout" v-else>Check Out</button>
            </div>

            <h1>{{title}}</h1>
        </header>
                       


        <div class="lesson">

            
            <button class="addcart" @click="showcheckout" v-if="cartitemcount == 0" disabled> <img src="images/checkout.png" style="width: 25px; height: 25px;"> Cart {{cartitemcount}} </button>
            <button class="addcart" @click="showcheckout" v-else> <img src="images/checkout.png" style="width: 25px; height: 25px;"> Cart {{cartitemcount}} </button>


            <div v-if="showlesson" class="shop">

                <div class="lesson-layout">
                    <div class="lesson-list" >
                        <div class="subject" v-for="lesson in lessons" :key="lesson.id">

                            <div class="info">
                                <h2> Subject: {{lesson.subject}}  </h2>
                                <h2> Location: {{lesson.location}} </h2>
                                <h2> Price: £{{lesson.price}} </h2>
                                <h2> Spaces: {{lesson.space}} </h2>

                                <button class="addButton" @click="addlesson(lesson)" v-if="lesson.space > 0" >Add to cart</button>

                                <button class="addButton" disabled v-else> Sold Out </button>

                            </div>
                            
                            <img :src="lesson.imagepath" :alt="lesson.altimagetext">

                        </div>

                    
                    </div>
                </div>
            
            </div>
            





            <div v-else>


                 <div class="lesson-layout">
                    <div class="lesson-list" >
                        <div class="subject" v-for="lesson in cart" :key="lesson.id">

                            <div class="info">
                                <h2> Subject: {{lesson.subject}}  </h2>
                                <h2> Location: {{lesson.location}} </h2>
                                <h2> Price: £{{lesson.price}} </h2>
                                <h2> Spaces: {{lesson.quantity}} </h2> <!-- make this a counter that will add however many per same lesson-->

                                <!-- change these buttons to a remove one
                                <button class="addButton" @click="addlesson(lesson)" v-if="lesson.space > 0" >Add to cart</button>
                                <button class="addButton" disabled v-else> Add to cart </button>-->

                                <button class="addButton" @click="removelesson(lesson)">Remove</button>

                            </div>
                            
                            <img :src="lesson.imagepath" :alt="lesson.altimagetext">

                        </div>

                    
                    </div>
                </div>
                <button @click="showcheckout"> Back to shop</button>
                <h2> price: £{{pricetotal}} </h2>
                

                



            </div>

            


        </div>

        <footer>
            <p>After School App</p>
        </footer>




    </div>


</body>

</html>