footer {
    position: fixed;
    padding: 25px;
    background-color: rgb(160,160,160);
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
        
}

header {
    position:static;
    padding: 25px;
    background-color: rgb(160,160,160);
}


.addcart {
    position: relative;
    left: 800px;
    bottom: 85px;
    font-size: 18px;
}


body {
    font-family: 'Courier New', monospace;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.lesson{
    text-align: center;
}

.addButton{
    width: 120px;
    height: 25px;
    font-size: 18px;

}

.addButton:hover {
    background-color: lightgray;
}


.subject img{
    width: 160px;
    height: 140px;
}

.addcart:hover {
    background-color: lightgray;
}




.subject {
    font-size: 12px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 250px; 
    text-align: left;
    display: flex;
    align-items: center;         /* Center the button horizontally */
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.lesson-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

